/* defines hex code for 6 colored sectors */
/* adds intro animation */
/* disables selectability 
.no-select() {
	  -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
*/
/* defines spinning animation */
/* draws center in middle of viewport */
/* makes each slice its corresponding color and masks out overlapping edges */
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}
#pizza {
  /* -webkit-animation: intro 1s ease; */
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  margin: 25% auto ;
  position: relative;
  -webkit-transform-origin: 50px 150px;
  -moz-transform-origin: 50px 150px;
  -ms-transform-origin: 50px 150px;
  -o-transform-origin: 50px 150px;
  transform-origin: 50px 150px;
  /* .no-select(); */
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /* draw pizza slices */
}
#pizza:hover {
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  transform: rotate(540deg);
}
#pizza span {
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  border-style: solid;
  border-width: 150px 50px;
  box-sizing: border-box;
}
#pizza span.color01 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  border-color: #43a1cd transparent transparent transparent;
}
#pizza span.color02 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  border-color: #9ac147 transparent transparent transparent;
}
#pizza span.color03 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  border-color: #f7941e transparent transparent transparent;
}
#pizza span.color04 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  border-color: #e1e23b transparent transparent transparent;
}
#pizza span.color05 {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
  border-color: #ba3e2e transparent transparent transparent;
}
#pizza span.color06 {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
  border-color: #272b66 transparent transparent transparent;
}
#pizza:before {
  content: "";
  width: 46vw;
  height: 44vh;
  overflow: hidden;
  position: absolute;
  top: -4vh;
  left: -20vw;
  border-radius: 100%;
  border: 30px solid rgba(255, 255, 255, 0.5);
  z-index: 100;
}
#pizza:after {
  content: "";
  width: 30vw;
  height: 30vh;
  overflow: hidden;
  position: absolute;
  top: 7vh;
  left: -7vw;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  background-image: url('https://gator4031.hostgator.com:2083/cpsess3499094914/viewer/home4%2foolong%2fpublic_html%2fcracked%2fimages/portrait.png');
  background-position: center;
}
@-webkit-keyframes intro {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
  100% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
}
